.site-index {
    color:white;
}

.site-index .jumbotron .btn {
    font-size: 2rem;
    padding: 14px 0;
    width: 150px;
}
#flying-bubbles{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1000;
}

